// ====== ⚙️ [FLUID-RESPONSIVE] : Mixin pour tailles de police et espacements fluides ======

// Le titre H1 passe de 3rem à 1.5rem entre 1440 et 320px
h1 {
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.2rem) * 2.1429)), 3rem);
  min-height: 0vw;
}

// Le titre H2 passe de 2rem à 1rem entre 1440 et 320px
h2 {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 1.4286)), 2rem);
  min-height: 0vw;
}

h3 {
  font-size: clamp(0.95rem, calc(0.95rem + ((1vw - 0.2rem) * 0.3571)), 1.2rem);
  min-height: 0vw;
}

// Le code-text passe de 1.2rem à 0.9rem entre 1440 et 320px
.code-text {
  font-size: clamp(0.8rem, calc(0.8rem + ((1vw - 0.2rem) * 0.5714)), 1.2rem);
  min-height: 0vw;
}

// Le paragraphe passe de 1rem à 0.75rem entre 1440 et 320px
p,
a {
  font-size: clamp(0.75rem, calc(0.75rem + ((1vw - 0.2rem) * 0.3571)), 1rem);
  min-height: 0vw;
}
