header {
  border-bottom: 1px solid $primary;
  background: $anthracite;
}
.title-container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: map-get($spacings, xxl) map-get($spacings, m);
}
